.container {
    display: flex;
    flex-direction: column;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    display: inline-block;
}

.homePostTitle {
    margin: 0.25em;
    padding: 1em;
    font-weight: bold;
    background-color: var(--background-post);
    border-color: var(--background-post);
    border-radius: 10px;
    border-style: solid;
}

.homePostTitle:hover {
    background-color: var(--background-post-hover);
    border-color: var(--background-post-hover);
    border-radius: 10px;
    border-style: solid;
}